body {
	margin: 0;
	padding: 0;
	font: normal normal normal 0.8125em/normal "Lucida Grande", "Trebuchet MS", sans-serif;
	line-height: 1.5em;
	text-align: justify;
  }

#container {
	margin: 20px auto;
	padding: 20px;
	width: 80%;
	text-align: left;
	border: 1px solid #000;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #888; /* Firefox */
	-webkit-box-shadow: 10px 10px 5px #888;  /* Safari and Chrome */
	box-shadow: 10px 10px 5px #888; /* Opera, future-proofing */
  }

h1 {
	font-family: Arial, sans-serif;
	font-size: 24px;
	color: #333333;
	padding-bottom: 14px;
	background: url(../img/h1_gradient.gif) repeat-x bottom;
	text-align: center;
}
h2 {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	padding-bottom: 4px;
	border-bottom: 1px solid #999;
}
.right {
	float: right;
}
.exp_head {
	font-weight: 600;
}
/*p {
	text-indent: 1em;
}*/
#test {
	font-weight: bold;
}