<div id="container">
	<h1>Daniel Bergqvist's Resumé</h1>
	<h2>Contact details</h2>
	<div id="contact">
		<p>Primusgatan 54<br/>
			112 67 Stockholm<br/>
			Sweden<br/>
			dbergqvist@gmail.com<br/>
			+46 766 313 111<br />
			<a href="http://about.me/dbergqvist">about me</a></p>
	</div>
	<h2>Objective</h2>
	<div id="objective">
	<p>I am seeking a position for a company that will improve users' experience of the Internet.</p>
	</div>
	<h2>Experience</h2>
	<div id="experience">
		<span class="exp_head">Director Business Development, Moving Media+; Stockholm, Sweden<span class="right">2011-Present</span></span>
		<p>MovingMedia+ is a spinoff from Bonnier, publisher of more than 150 magazines worldwide, that creates a software platform, Mag+, for magazine publishing on tablets.</p>
		<span class="exp_head">Business Development Manager, Opera Software; Stockholm, Sweden<span class="right">2010-2011</span></span>
		<p>Working with promoting Opera’s web runtime to tier-1 operators and OEMs. Successful track record of exceeding targets and organizational expectations. Played an instrumental role in closing global deals with Vodafone and Telefónica, among others Actively participated in organizing and attending industry events, trade shows and networking forums.</p>
		<span class="exp_head">Business Development Manager, Opera Software; Mountain View, CA, US<span class="right">2009-2010</span></span>
		<p>Did business development towards AT&T and VzW, part of a team that created substantial business on both accounts. Also worked with monetization of our mobile B2C offering, Opera Mini, with partners like Yahoo, Facebook, Microsoft and Google.</p>
		<span class="exp_head">Pre-Sales Engineer, Opera Software; Stockholm Sweden<span class="right">2008-2009</span></span>
		<p>Responsible for all pre-sales activities globally. Parts of my responsibilities were responding to RFXs, prof-of-concept work, system design, conducting demonstrations and implementing best practices within the different pre-sales teams.</p>
		<span class="exp_head">Solution Architect, Ericsson; Stockholm Sweden<span class="right">2007-2008</span></span>
		<p>Part of a global team that supported the market units on selected tier-1 accounts.</p>
		<span class="exp_head">Director of Technology, Drutt Corporation; Toronto Canada<span class="right">2007</span></span>
		<p>Responsible for building up Drutt’s North American presence by setting up a sales office and staff the office accordingly. The company managed to close deals with all the three major Canadian carriers in less than twelve months and consequently exceeded target with 400%. Drutt Corporation was acquired by Ericsson in 2007.</p>
		<span class="exp_head">Pre-Sales Engineer, Drutt Corporation; Stockholm Sweden<span class="right">2005-2007</span></span>
		<p>Supported account teams in the sales process of complex Internet services for mobile devices, utilized technical expertise and high technology experience. Worked towards tier-1 and tier-2 operators.</p>
		<span class="exp_head">Pre-Sales Engineer, Roxen Internet Software; Stockholm, Sweden<span class="right">2001-2005</span></span>
		<p>Led bids and projects from a technical perspective from inception to delivery. Designed and documented complex content management solution architectures. Led the production of RFP responses and estimated the delivery. Based in the Netherlands for 8 months in order to strengthen the technical team in the Benelux region.</p>
		<span class="exp_head">Software Engineer, WinEasy AB; Stockholm Sweden<span class="right">2000-2001</span></span>
		<p>Created robust high-volume web applications, and developed prototypes quickly. WinEasy was acquired by TDC Song in 2000</p>
	</div>
	<h2>Education</h2>
	<div id="education">
		<span class="exp_head">Uppsala University; Uppsala, Sweden <span class="right">1995-1999</span></span>
		<p>Studies in Computer Science</p>
		<span class="exp_head">California Polytechnic State University; San Luis Obispo, CA, USA <span class="right">1997</span></span>
		<p>Exchange student in Computer Science</p>
	</div>
	<h2>Skills</h2>
	<div id="skills">
    	<ul>
			<li>In-depth knowledge of Internet related technologies such as: HTML/XHTML/XML/JavaScript/CSS/DOM/HTTP and Web APIs</li>
			<li>Programming knowledge in booth procedural as well as object oriented languages</li>
			<li>Proven ability to meet or exceed sales quotas</li>
			<li>Goal oriented, self-motivated individual who is confident, competitive, thorough and tenacious</li>
			<li>Outstanding verbal and written communication skills</li>
			<li>Adaptable to change, experienced with businesses in different cultures</li>
			<li>Quick learner</li>
			<li>Extensive experience of the Telecom and Internet industries from a product company perspective.
			<li>Able to explain technical concepts in a non-technical language</li>
			<li>Fluent in Swedish and English. Working knowledge of Danish, Norwegian and Spanish</li>
		</ul>
  	</div>
</div>