<!DOCTYPE html>
<html>
  <head>
    <title>dbergqvist | <%= @title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag "style"%>
	<script type="text/javascript" src="http://use.typekit.com/fwo4kms.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>